.child-button{
    height: 28px;
    padding: 0px 22px;
    border-radius: 32px;
    background-color: var(--color-grey-700);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.child-button:hover{
    background-color: var(--color-brand-100);
    color: var(--color-grey-700);
    z-index: 200;
}

.icon-left{
    height: 40px;
    width: 48px;
    font-size: 10px;
    outline: none;
    border: none;
    background-color: transparent;
    z-index: 100;
    top: -18px;
    left: 5px;
}

.icon-right{
    height: 40px;
    width: 48px;
    font-size: 10px;
    outline: none;
    border: none;
    background-color: transparent;
    z-index: 100;
    top: -18px;
    right: 15px;
}


.fas{
    cursor: pointer;
}

.fa-angle-left:hover{
    padding: 10px;
    background-color: var(--color-grey-500);
    border-radius: 50%;
}


.fa-angle-right:hover{
    padding: 10px;
    background-color: var(--color-grey-500);
    border-radius: 50%;
}

.button-post{
    font-family: var(--font-family);
    background-color: transparent;
    border: transparent;
    padding: 0px;
    cursor: pointer;
    color: var(--color-brand-100);
    font-weight: var(--font-weight-2);
}

.link-footer{
    color: var(--color-grey-700);
    text-decoration: none;
    padding: 10px;
    background-color: var(--color-grey-200);
    border-radius: 32px;
    font-family: var(--font-family);
    top: 100px;
    left: 1350px;
}