.main-header{
    margin-top: 55px;
}

.box-header-description{
    width: 410px;
    height: 370px;
    padding-top: 20px;
}

.description{
    gap: 24px;
}


.title-1 span{
    color: var(--color-brand-200);
}

.text-1{
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-4);
    font-family: var(--font-family);
    color: var(--color-grey-100);
    line-height: 150%;
}

.text-2{
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-2);
    font-family: var(--font-family);
    color: var(--color-grey-100);
    line-height: 150%;
}

.figure-home-header img{
    height: 390px;
}

.main-nav{
    margin-top: 100px;
}

.ulMainList{
    margin-top: 35px;
    margin-bottom: 45px;
}

.liList{
    gap: 16px;
    width: 550px;
    margin-bottom: 93px;
}

.img-post{
    width: 100%;
    height: 220px;
}

.box-post-description{
    gap: 16px;
    align-items: flex-start;
}

.Observer{
    max-width: 100%;
    height: 100px;
    bottom: 0;
}

.footer-Post{
    max-width: 100%;
    height: 255px;
    background-color: var(--color-grey-100);
}

